* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: var(--bg-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*::placeholder {
  color: var(--black-color);
  opacity: 0.8;
}